In [2]:
import pandas as pd

In [3]:
import app

In [3]:
app.trigger_etl()

Sucessfully logged in
Table created or already exists.
Data is already up to date. No changes made.

'<!DOCTYPE html>\n<html>\n<head>\n    <title>Success</title>\n</head>\n<body>\n    <h1>ETL Process Successful</h1>\n    <p>Status Code: 200</p>\n    <p>Message: ETL process completed for 20rows</p>\n</body>\n</html>'

In [5]:
feature_df = app.trigger_etl()[0]['feature_data']
display(feature_df)

Sucessfully logged in
Table created or already exists.
Data is already up to date. No changes made.

,user_id,name,email,signup_date,experiment_count,avg_experiment_run_time,compound_id,compound_name,compound_structure
0,1,Alice,alice@example.com,2023-01-01,2,12.5,1,Compound A,C20H25N3O
1,2,Bob,bob@example.com,2023-02-01,1,20.0,1,Compound A,C20H25N3O
2,2,Bob,bob@example.com,2023-02-01,1,20.0,3,Compound C,C8H11NO2
3,3,Carol,carol@example.com,2023-03-01,1,25.0,3,Compound C,C8H11NO2
4,3,Carol,carol@example.com,2023-03-01,1,25.0,2,Compound B,C21H30O2
5,4,Dave,dave@example.com,2023-04-01,1,30.0,1,Compound A,C20H25N3O
6,4,Dave,dave@example.com,2023-04-01,1,30.0,3,Compound C,C8H11NO2
7,4,Dave,dave@example.com,2023-04-01,1,30.0,2,Compound B,C21H30O2
8,5,Eve,eve@example.com,2023-05-01,1,35.0,3,Compound C,C8H11NO2
9,5,Eve,eve@example.com,2023-05-01,1,35.0,2,Compound B,C21H30O2
10,6,Frank,frank@example.com,2023-06-01,1,40.0,1,Compound A,C20H25N3O
11,6,Frank,frank@example.com,2023-06-01,1,40.0,3,Compound C,C8H11NO2
12,7,Grace,grace@example.com,2023-07-01,1,45.0,3,Compound C,C8H11NO2
13,7,Grace,grace@example.com,2023-07-01,1,45.0,2,Compound B,C21H30O2
14,8,Heidi,heidi@example.com,2023-08-01,1,50.0,1,Compound A,C20H25N3O
15,8,Heidi,heidi@example.com,2023-08-01,1,50.0,2,Compound B,C21H30O2
16,9,Ivan,ivan@example.com,2023-09-01,1,55.0,3,Compound C,C8H11NO2
17,9,Ivan,ivan@example.com,2023-09-01,1,55.0,2,Compound B,C21H30O2
18,10,Judy,judy@example.com,2023-10-01,1,60.0,1,Compound A,C20H25N3O
19,10,Judy,judy@example.com,2023-10-01,1,60.0,3,Compound C,C8H11NO2

In [4]:
feature_df.dtypes

user_id                             int64
name                               object
email                              object
signup_date                datetime64[ns]
experiment_count                    int64
avg_experiment_run_time           float64
compound_id                         int64
compound_name                      object
compound_structure                 object
dtype: object

#1. Total experiments a user ran.
#2. Average experiments amount per user.
#3. User's most commonly experimented compound.

In [ ]:
#change datatypes if needed
#questions meaning of experiment amount
#most commonly experimented compounds, return all of them if there's only singles?
#separate sql tables for each deliverable?
#include counts of compounds?
#change password of postgre database, make new user? common password? check docker for postgre image
#ADD DOCSTRINGS, LINTING, COMMENTING
#set timestamp to utc for signup_date
#do people need to download postgre if its in docker?